*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 2000px;
}
/* 공통영역 */
p{
    width: 500px;
    height: 200px;
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 2;
}
/* 문서의 흐름에 맞춰 배치한다 - 기본값 */
#static{
    position: static;
}
#relative-1{
    /* 위칫값을 지정할 수 있다는 점을 제외하면 static과 같다. */
    position: relative;
    
}
#relative-2{
    position: relative;
    /* 위칫값을 지정 */
    top: 20px;
    left: 400px;
}
#pixed{
    position: fixed;
    right: 24px;
    bottom: 24px;
}